In [1]:
from mysql import connector
import pandas as pd

In [38]:
config = {"user":"root", "password":"sanaz11", "host":"localhost"}
mydb = connector.connect(**config)
if mydb.is_connected():
    my_cursor = mydb.cursor()
    print("It is connect")
else:
    print("It is n't connect")

It is connect

In [40]:
query = "CREATE DATABASE testdatabase"
my_cursor.execute(query)

In [41]:
query = "SHOW DATABASES"
my_cursor.execute(query)
my_cursor.fetchall()

[('c',),
 ('classicmodels',),
 ('information_schema',),
 ('mydatabase',),
 ('mysql',),
 ('performance_schema',),
 ('test_db',),
 ('testdatabase',)]

In [45]:
query = "CREATE TABLE testdatabase.mytable(id INT, name VARCHAR(50))"
my_cursor.execute(query)

In [48]:
query = "SHOW TABLES FROM testdatabase"
my_cursor.execute(query)
my_cursor.fetchone()

('mytable',)

In [50]:
query = "ALTER TABLE testdatabase.mytable modify id INT PRIMARY KEY AUTO_INCREMENT"
my_cursor.execute(query)

# Insert into my table

In [53]:
query_insert = "INSERT INTO testdatabase.mytable(name) VALUES('sara')"
my_cursor.execute(query_insert)

In [54]:
query_insert = "INSERT INTO testdatabase.mytable(name) VALUES('ali'),('zahra')"
my_cursor.execute(query_insert)

In [55]:
query_insert = "INSERT INTO testdatabase.mytable(name) VALUES(%s)"
name = "amir"
my_cursor.execute(query_insert, (name, ))

In [57]:
name = "sasan"
query_insert = "INSERT INTO testdatabase.mytable(name) VALUES('{}')".format(name)
my_cursor.execute(query_insert)

In [62]:
name = (["afson"], ["saman"])
query_insert = "INSERT INTO testdatabase.mytable(name) VALUES(%s)"
my_cursor.executemany(query_insert, name)

In [63]:
query = "SELECT * FROM testdatabase.mytable"
my_cursor.execute(query)
my_cursor.fetchall()

[(1, 'sara'),
 (2, 'ali'),
 (3, 'zahra'),
 (4, 'amir'),
 (5, 'sasan'),
 (6, 'afson'),
 (7, 'saman')]

# write query on some tabel

In [36]:
query = "SELECT column_name from information_schema.columns where table_name='customers' and table_schema = 'classicmodels'"

my_cursor.execute(query)
my_cursor.fetchall()

[('addressLine1',),
 ('addressLine2',),
 ('city',),
 ('contactFirstName',),
 ('contactLastName',),
 ('country',),
 ('creditLimit',),
 ('customerName',),
 ('customerNumber',),
 ('phone',),
 ('postalCode',),
 ('salesRepEmployeeNumber',),
 ('state',)]

In [2]:
config = {"user":"root", "password":"sanaz11", "host":"localhost", "database":"classicmodels"}
mydb = connector.connect(**config)
if mydb.is_connected():
    my_cursor = mydb.cursor()
    print("It is connect")
else:
    print("It is n't connect")

It is connect

In [19]:
query = "CREATE PROCEDURE myprocedure (IN custID INT, OUT contactFirstName VARCHAR(50)) BEGIN SELECT contactFirstName INTO contactFirstName FROM customers; END"
my_cursor.execute(query)
my_cursor.callproc('myprocedure4',[11,])

ProgrammingError: 1172 (42000): Result consisted of more than one row